
body{
  background: linear-gradient(rgb(104, 252, 239), rgb(169, 225, 247), rgb(191, 137, 243));
  padding: 5%;
}

.headTitle {
  display:flex;
  flex-direction: column;
  color:rgb(75, 77, 249);
  background: linear-gradient(pink, rgb(244, 244, 101), violet);
  padding: 40px;
  font-family: cursive;
  font-size: 100px;
  margin-top: 1px;
  align-content: center;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

/* CSS for TextEntry component */

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20%; 
  margin: 80px;
  padding: 7%;
  align-content: center;
  justify-content: center;
}

.textEntryTitle1{
color:blueviolet; 
font-size: 80px;
}

.area1{
  width: 1500px;
  height: 1200px;
  resize: none;
  font-size: 60px;
 background-color:white;
}

.button1{
  display: flex;
  width:100%;
  background-color:rgb(239, 196, 6);
  padding:40px;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  margin:0px auto; 
}

.button2{
  display: flex;
  width:100%;
  background-color:rgb(239, 196, 6);
  padding:40px;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  margin:0px auto; 
}

/* Additional styles for TextAnalysis component textarea */

.textDisplayTitle{ 
  margin-top: 10px;
  margin-bottom: 100px;
  font-size: 80px;
} 

.sentimentAnalysis{
  margin-top: 20px;
  padding: 10%;
  width: 1200px;
  height: 1200px;
  resize: none;
  font-size: 60px;
 background-color: white; 
} 

.reframe-flex-container{
  display: flex;
  flex-direction: column;
}
.reframeSession{ 
  margin-bottom: 5%;
  font-size: 80px; 
  text-align: center;
  align-items: center;
  justify-content: center;
} 

.negativeSentenceDisplay{

  margin-top: 10px;
  padding:100px;
  font-size: 35px;
  background-color: rgb(250, 186, 204);
  width: 95%;
  height: 500px;
  resize: none;
  align-items: center;
}

.positiveSentenceDisplay{
  padding:100px;
  font-size: 35px;
  background-color:rgb(124, 242, 132);
  width: 95%;
  height: 700px;
  resize: none;
  align-items: center;
}

.area2{
  width: 99.8%;
  height: 400px;
  resize: none;
  font-size: 60px;
 background-color:white;
}

.image-container{
  display: flex;
  flex-direction: row;
  gap: 10%; 
  padding: 7%;
  align-content: center;
  justify-content: center;
  }


.area3{
  width:1300px;
  height: 700px; 
  resize: none;
  font-size: 60px;
}

.button3{
  display: flex;
  width:100%;
  background-color:rgb(239, 196, 6);
  padding:20px;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  margin:0px auto; 
}

.imageTitle{
  font-size: 60px;
}

.imageRepTitle{
  font-size: 60px;
}
.imageDisplay{
  margin-top: 20px;
  padding:3%;
  width: 1600px;
  height: 1200px;
  resize: none;
  font-size: 60px;
 background-color: white; 
}

.footer{
  display: flex;
  font-size: 60px;
  align-items: center;
  align-content: center;
  justify-content: center;
}