
body{
  background: linear-gradient(rgb(248, 158, 216), rgb(129, 249, 253), rgb(191, 137, 243));
  font-family: cursive;
}

button{
  font-family: cursive;
}
.headTitle {
  display:flex;
  flex-direction: column;
  color: blue;
  background: linear-gradient(rgb(129, 249, 253), yellow, rgb(176, 104, 244));
  padding: 40px;
  font-family: cursive;
  font-size: 120px;
  margin-top: 1px;
  align-content: center;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

.instructions{
  display:flex;
  flex-direction: column;
  color: blue;
  background-color: rgb(253, 253, 138);
  padding: 40px;
  font-family: cursive;
  font-size: 60px;
  margin-top: 1px;
  align-content: center;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

/* CSS for TextEntry component */

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20%; 
  margin: 80px;
  padding: 7%;
  align-content: center;
  justify-content: center;
}


.textEntry-container{
  display: flex;
  flex-direction: row;
  gap: 400px;
}

.textEntryTitle1{
color:black; 
font-size: 90px;
}

.area1{
  width: 1500px;
  height: 1200px;
  resize: none;
  font-size: 60px;
 background-color:white;
}


.button1{
  display: flex;
  width:100%;
  background-color:rgb(239, 196, 6);
  padding:40px;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  margin:0px auto; 
}

.button2{
  display: flex;
  width:100%;
  background-color:rgb(239, 196, 6);
  padding:40px;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  margin:0px auto; 
}

/* Additional styles for TextAnalysis component textarea */

.textDisplayTitle{ 
  margin-bottom: 100px;
  font-size: 80px;
} 

.sentimentAnalysis{
  margin-top: 0px;
  padding: 10%;
  width: 1200px;
  height: 1000px;
  resize: none;
  font-size: 60px;
 background-color: white; 
} 

.reframe-flex-container{
  display: flex;
  flex-direction: column;
}
.reframeSession{ 
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 90px; 
  text-align: center;
  align-items: center;
  justify-content: center;
} 

.negativeSentenceDisplay{

  margin-top: 10px;
  padding:100px;
  font-size: 35px;
  background-color: rgb(250, 186, 204);
  width: 95%;
  height: 500px;
  resize: none;
  align-items: center;
  overflow: scroll;
}

.negativeTextSize{
  font-size: 50px;
}

.positiveSentenceDisplay{
  padding:100px;
  font-size: 35px;
  background-color:rgb(124, 242, 132);
  width: 95%;
  height: 700px;
  resize: none;
  align-items: center;
}

.area2{
  width: 99.8%;
  height: 400px;
  resize: none;
  font-size: 60px;
 background-color:white;
 overflow: scroll;
}

.image-container{
  display: flex;
  flex-direction: row;
  gap: 10%; 
  padding: 7%;
  align-content: center;
  justify-content: center;
  }


.area3{
  width:1600px;
  height: 700px; 
  resize: none;
  font-size: 100px;

}

.button3{
  width:84.3%;
  background-color:rgb(239, 196, 6);
  padding:20px;
  font-size: 60px;
}

.imageTitle{
  font-size: 80px;
}

.imageTextTitle{
  font-size: 80px;
}
.imageDisplay{
  margin-top: 20px;
  padding:3%;
  width: 1600px;
  height: 1200px;
  resize: none;
  font-size: 60px;
 background-color: white; 
}

.footer{
  display: flex;
  font-size: 60px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.toggleButton{
  width:106.3%;
  padding:20px;
  font-size:60px;
  background-color: rgb(239, 196, 6);
  align-items: center;
}